/* global style  */
* {
    margin: 0px;
    padding: 0px;
}

.title {
    font-size: 42px;
    margin: 20px;
}

.description {
    font-size: 18px;
    margin: 20px;
}

.btn {
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    color: white;
    background-color: #E55473;
    border: none;
}

/* banner style   */
.banner-container {
    background-color: #E554731A;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
}

.banner-info {
    padding: 50px;
    margin-left: 15%;
}

/* featured flowers style  */

.featured-flower {
    text-align: center;
    margin-top: 150px;
}
.flower-showcase{
    display: flex;
    justify-content: center;
    
}
.single-flower{
    height: 35px;
    width: 464px;
height: 538px;

}
.featured-one-image{
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 35px 10px 0px 10px;
margin-right: 78px;
margin-left: 78px;
}